<h1 id="titleFromClassVar">{{title}}</h1>
<h2>My Heroes</h2>
<div>
  <label>Hero name:</label> <input id="heroName" #heroName />
  <button id="addHero" (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
<ul class="heroes">
  <li id="heroListElements" *ngFor="let hero of heroesFromStore | async" (click)="onSelect(hero)" [class.selected]="hero?.id === selectedHero?.id">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button id="heroDelete" class="delete" (click) ="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} is my hero</h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<hr>
<button routerLink="/sidekicks">Go to Sidekicks (page not found)</button>
